.order_container a:hover,
.delivery:hover,
.logo_container a:hover,
.lower_container ul li:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.lower_container {
  background-color: #232f3e;
  color: white;
}
.lower_container ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
.lower_container ul li {
  padding: 8px;
}
.lower_container ul li:first-child {
  align-items: center;
  display: flex;
  gap: 2px;
}

@media screen and (max-width: 576px) {
  .lower_container ul li:not(:first-child) {
    display: none;
  }
}
