* {
  margin: 0;
  padding: 0;
}
.catagory {
  height: 350px;
  width: 280px;
  background-color: white;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
}
.catagory img {
  padding: 0 10px;
  width: 100%;
  object-fit: contain;
  max-height: 250px;
}
.catagory a {
  text-decoration: none;
  color: rgba(35, 35, 35);
}
.catagory p,
.catagory h2 {
  margin-left: 15px;
  padding: 5px;
}
.catagory p {
  color: rgba(9, 132, 209);
  font-size: 12px;
  font-weight: bold;
}
.catagory_container {
   position: relative;
    margin-top:-10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 5px;
    overflow:hidden;
}
@media screen and  (max-width: 576px){ .category_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
    
}
